@*<!DOCTYPE>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <html xmlns="http://www.w3.org/1999/xhtml" class="html">
    <head>
        <title>www.yesmobile.com.pk</title>
        <link href="~/Content/StyleSheet1.css" rel="stylesheet" />


    </head>

    <body>



            <img src="~/images/img1.jpg" id="img1" class="img-thumbnail" />
            <a href="lumia.html" id="category"><b>search by category</b></a>
        <br />
        <table id="t01">
            <tr>
            <td class="c1"><a href="Home.cshtml" class="c2"><i>Home</i></a></td>
            <td class="c1"><a href="Terms and cond.html" class="c2"><i>Terms & Conditions</i></a></td>
            <td class="c1"><a href="Home.html" class="c2"><i>Tablets</i></a></td>
            <td class="c1"><a href="Home.html" class="c2"><i>Delivery Information</i></a></td>
            <td class="c1"> <a href="Home.html" class="c2"><i>Privacy Policy</i></a></td>
            <td class="c1"><a href="Home.html" class="c2"><i>Payment Method</i></a></td>
            <td class="c1"><a href="Home.html" class="c2"><i>How To Order</i></a></td>
            </tr>
        </table>
        <br />




            <div id="dv1">
                <marquee style="behavior:scroll; direction:left;">
                    <a href="~/images/Rivo-RRX55.jpg"><img src="~/images/Rivo-RRX55.jpg" class="mov" /></a>
                    <a href="~/images/Samsung-Galaxy-S6-edge.jpg"><img src="~/images/Samsung-Galaxy-S6-edge.jpg" class="mov" /></a>
                    <a href="~/images/Samsung_Galaxy_E7.jpg"><img src="~/images/Samsung_Galaxy_E7.jpg" class="mov" /></a>
                    <a href="~/images/QMobile_QTab.jpg"><img src="~/images/QMobile_QTab.jpg" class="mov" /></a>
                    <a href="~/images/QMobile-NZ8.jpg"><img src="~/images/QMobile-NZ8.jpg" class="mov" /></a>
                    <a href="~/images/oppo-joy.png"><img src="~/images/oppo-joy.png" class="mov" /></a>
                    <a href="~/images/Lumia-535.png"><img src="~/images/Lumia-535.png" class="mov" /></a>
                    <a href="~/images/oppo_7.png"><img src="~/images/oppo_7.png" class="mov" /></a>
                    <a href="~/images/Voice-Xtreme-X3-130x175.jpg"><img src="~/images/Voice-Xtreme-X3-130x175.jpg" class="mov" /></a>


                </marquee>
            </div>
            <br />*@
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-heading" id="dv3"><b>Microsoft Smartphones</b></div>
</div>
<!--2nd Row-->
<!--<marquee behavior="scroll" direction="left">-->
<table style="margin-left:21%">
    <tr>
        <td><a href="Lumia.html"><img src="~/images/Lumia-535.png" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Lumia-435.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Lumia-640.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Lumia-430.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Lumia-540.jpg" class="r1" /></a></td>
    </tr>
    <tr>
        <td><a href="Lumia.html" style="padding: 15px; font-size: 15px; color: blue; margin-left: 15px;">Microsoft Lumia 535</a></td>
        <td><a href="Lumia.html" style="padding: 28px; font-size: 15px; color: blue;">Microsoft Lumia 435</a></td>
        <td><a href="Lumia.html" style="padding: 11px; font-size: 15px; color: blue; margin-left: 22px;">Microsoft Lumia 640</a></td>
        <td><a href="Lumia.html" style="padding: 11px; font-size: 15px; color: blue; margin-left: 22px;">Microsoft Lumia 430</a></td>
        <td><a href="Lumia.html" class="r2">Microsoft Lumia 540</a></td>
    </tr>
    <tr>
        <td><p class="r3">Rs. 14,500</p></td>
        <td><p class="r3">Rs. 10,350</p></td>
        <td><p class="r3">Coming soon</p></td>
        <td><p class="r3">Rs. 7,950</p></td>
        <td><p class="r3">Coming Soon</p></td>
    </tr>
</table>
<!--</marquee>-->
<div class="box">
    <div class="box-heading" id="dv3"><b>Apple iPhones</b></div>
</div>
<!--3rd Row-->
<table style="margin-left:21%">
    <tr>
        <td><a href="Lumia.html"><img src="~/images/iPhone6-16.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/iPhone6-64.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/iPhone6-128.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/iPhone6-plus-16.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/iPhone6-plus-128.jpg" class="r1" /></a></td>
    </tr>
    <tr>
        <td><a href="Lumia.html" style="padding: 28px; font-size: 15px; color: blue; margin-left: 15px;">iPhone 6 16GB</a></td>
        <td><a href="Lumia.html" style="padding: 32px; font-size: 15px; color: blue; margin-left:15px;">iPhone 6 64GB</a></td>
        <td><a href="Lumia.html" style="padding: 21px; font-size: 15px; color: blue; margin-left: 22px;">iPhone 6 128GB</a></td>
        <td><a href="Lumia.html" style="padding: 9px; font-size: 15px; color: blue; margin-left: 22px;">iPhone 6 Plus 16GB</a></td>
        <td><a href="Lumia.html" class="r2">iPhone 6 Plus 128GB</a></td>
    </tr>
    <tr>
        <td><p class="r3">Rs. 81,499</p></td>
        <td><p class="r3">Rs. 93,499</p></td>
        <td><p class="r3">Rs. 105,499</p></td>
        <td><p class="r3">Rs. 93,499</p></td>
        <td><p class="r3">Rs. 117,499</p></td>
    </tr>
</table>

<div class="box">
    <div class="box-heading" id="dv3"><b>Qmobile</b></div>
</div>
<!--4rth Row-->
<table style="margin-left:21%">
    <tr>
        <td><a href="Lumia.html"><img src="~/images/Qmobile-NLT-250.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Qmobile-NLT-150.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Qmobile-NZ8.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Qmobile-BT200.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Qmobile-QTab-V8.jpg" class="r1" /></a></td>
    </tr>
    <tr>
        <td><a href="Lumia.html" style="padding: 17px; font-size: 15px; color: blue; margin-left: 15px;">Qmobile Noir LT250</a></td>
        <td><a href="Lumia.html" style="padding: 17px; font-size: 15px; color: blue; margin-left:15px;">Qmobile Noir LT150</a></td>
        <td><a href="Lumia.html" style="padding: 21px; font-size: 15px; color: blue; margin-left: 22px;">Qmobile Noir Z8</a></td>
        <td><a href="Lumia.html" style="padding: 15px; font-size: 15px; color: blue; margin-left: 22px;">Qmobile Bolt T200</a></td>
        <td><a href="Lumia.html" style="padding: 15px; font-size: 15px; color: blue; margin-left: 22px;">Qmobile QTab V8</a></td>
    </tr>
    <tr>
        <td><p class="r3">Rs. 16,600</p></td>
        <td><p class="r3">Rs. 13,499</p></td>
        <td><p class="r3">Rs. 19,999</p></td>
        <td><p class="r3">Rs. 6,750</p></td>
        <td><p class="r3">Rs. 11,500</p></td>
    </tr>
</table>






<div class="box">
    <div class="box-heading" id="dv3"><b>Samsung</b></div>
</div>

<!--6th Row-->
<table style="margin-left:21%">
    <tr>
        <td><a href="Lumia.html"><img src="~/images/Samsung-Galaxy-Core.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/galaxys6_black-130x175.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Samsung_Galaxy_E7.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Samsung-Galaxy-S6-edge.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Samsung_galaxy.jpg" class="r1" /></a></td>
    </tr>
    <tr>
        <td><a href="Lumia.html" style="padding: 0px; font-size: 15px; color: blue; margin-left: 15px;">Samsung Galaxy Core Prime</a></td>
        <td><a href="Lumia.html" style="padding: 10px; font-size: 15px; color: blue; margin-left:15px;">Samsung Galaxy S6</a></td>
        <td><a href="Lumia.html" style="padding: 6px; font-size: 15px; color: blue; margin-left: 22px;">Samsung Galaxy E7</a></td>
        <td><a href="Lumia.html" style="padding: 0px; font-size: 15px; color: blue; margin-left: 22px;">Samsung Galaxy S6 Edge</a></td>
        <td><a href="Lumia.html" style="padding: 0px; font-size: 15px; color: blue; margin-left: 22px;">Samsung Galaxy S Dous 3</a></td>
    </tr>
    <tr>
        <td><p class="r3">Rs. 14,999</p></td>
        <td><p class="r3">Rs. 74,999</p></td>
        <td><p class="r3">Rs. 35,500</p></td>
        <td><p class="r3">Rs. 93,000</p></td>
        <td><p class="r3">Rs. 12,500</p></td>
    </tr>
</table>


<div class="box">
    <div class="box-heading" id="dv3"><b>Huawei</b></div>
</div>

<!--7th Row-->
<table style="margin-left:21%">
    <tr>
        <td><a href="Lumia.html"><img src="~/images/Huawei-Ascend-Mate7-130x175.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Huawei-Ascend-G7-130x175.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Huawei-Ascend_Y625-Black_01-130x175.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Huawei-Ascend-G7-Dous.jpg" class="r1" /></a></td>
        <td><a href="Lumia.html"><img src="~/images/Huawei-Honor.jpg" class="r1" /></a></td>
    </tr>
    <tr>
        <td><a href="Lumia.html" style="padding: 10px; font-size: 15px; color: blue; margin-left: 15px;">Ascend Mate 7 Gold</a></td>
        <td><a href="Lumia.html" style="padding: 15px; font-size: 15px; color: blue; margin-left:15px;">Huawei Ascend G7</a></td>
        <td><a href="Lumia.html" style="padding: 3px; font-size: 15px; color: blue; margin-left: 22px;">Huawei Ascend Y625</a></td>
        <td><a href="Lumia.html" style="padding: 0px; font-size: 15px; color: blue; margin-left: 22px;">Huawei Ascend G7 Duos</a></td>
        <td><a href="Lumia.html" style="padding: 15px; font-size: 15px; color: blue; margin-left: 22px;">Huawei Honor 4C</a></td>
    </tr>
    <tr>
        <td><p class="r3">Rs. 57,000</p></td>
        <td><p class="r3">Rs. 29,999</p></td>
        <td><p class="r3">Rs. 14,699</p></td>
        <td><p class="r3">Rs. 30,999</p></td>
        <td><p class="r3">Rs. 20,999</p></td>
    </tr>
</table>






@*</body>
    </html>*@


