body {
  
}

 #img1 {
            margin-left: 40px;
            margin-top: 40px;
            height: 80px;
            width: 200px;
        }
        #t01{
            width:95%;
            margin-left:40px;
            margin-right:40px;
            margin-top:10px;
            background-color:black;
        }

        .c1{
            padding:15px;
            font-size:15px;
            
        }
        .dvs{
            background-color:lightblue;
            margin-left:40px;
            width:15%;
            height:40%;
            
        }
        .r2 {
            padding: 15px;
            font-size: 15px;
            color:blue;
            margin-left:15px;
        }
        .r3 {
            padding: 15px;
            font-size: 15px;
            margin-left: 40px;
        }
        .c2{
            color:blue;
        }
        #dv1{
            height:170px;
            margin-left:20%;
            background-color:white;
            /*border:1px solid gray;*/
            margin-right:50px;

        }

        .rs{
            background-color:lightgrey;
        }
        #t02{
           
            margin-top:10px;
            margin-left:20%;
            margin-right:50px;
            background-color:lightgrey;
            border:1px solid gray;
            width:76.6%;
        }
        #dvs {
            margin-left: 40px;
            border: 1px solid black;
            margin-right: 83%;
            padding: 5px;
            font-size: 19px;
            margin-top: 20px;
            background-color:whitesmoke;
            float:left;
        }
      
        .dvs1 {
            color: blue;
            margin-left: 4px;
            font-size: 14px;
        }
        .mov{
            width:150px;
            height:150px; 
            margin-left:10px;
            margin:10px;
        }

        #dv2{
            height:80px;
            
        }
        .r1 {
            margin-top: 10px;
            width: 190px;
            height: 220px;
        }
        #c3{
            padding:5px;
            font-size:20px;
            
        }
        #category {
           font-size:20px;
           border:1px solid black;
           padding:15px;
           float:right;
           margin-top:40px;
           margin-right:20px;
           background-color:whitesmoke;
        }

        #SignIn{
           font-size:15px;
           padding:10px;
           float:right;
           margin-top:40px;
           margin-right:40px;
           color:white;
           background-color:blue;
           font-weight:bold;

        }

         }

        #Sign Up{
           font-size:15px;
           padding:10px;
           float:right;
           margin-top:40px;
           margin-right:40px;
           color:white;
           background-color:blue;
           font-weight:bold;

        }
        #dv3 {
            text-indent: 20px;
            margin-left: 20%;
            background-color: lightgrey;
            margin-right: 50px;
            border: 1px solid black;
            padding: 5px;
        }
