@{
    ViewBag.Title = "signIn";
}
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}




<br />

<form method="post" action="/SignIn/signIn1">
    <h1 style="margin-left:40%;margin-top:50px;">Sign In</h1>
    <br />
    <b style="margin-left:40%;font-size:20px;">Name</b><input type="text" name="Username" />
    <b style="margin-left:40%;font-size: 20px;">Password</b><input type="password" name="Password" />


    <br />
    <br />

    <button type="submit" class="btn btn-primary btn-large" style="margin-left:40%;">Sign In</button>

    <a href="~/images/Samsung.jpg" style="padding-top:3em;"><img src="~/images/Samsung.jpg" style="width:800px;height:400px;padding-left:4em;" /></a>
</form>