@{
    ViewBag.Title = "AjaxWorking";
}

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:45%;padding-bottom:1em;">Search Mobiles Here...!</h2>

<select id="Company_Selector" style="padding:6px;margin-left:30%">
    <option value="1" style="font-size:40px;">Company</option>
    <option value="2">Huawei</option>
    <option value="3">Microsoft</option>
    <option value="4">Samsung</option>
    <option value="5">Apple</option>
    <option value="6">Qmobile</option>
</select>
<br />
<br />
<select id="Mobile_selector" style="padding:6px;margin-left:30%">
    <option>Mobiles</option>
</select>

